    .navigation__container{
        background-color: var(--nav-color) ;
        color: var(--nav-color-hover);
    }

    .navbar-light .navbar-nav .nav-link{
        color: var(--font-color, white) !important;
    }

    .navbar-brand {
        color: var(--font-color, white) !important;
    }

    .navbar-toggler-icon{
        filter: invert(1);
    }

    .links a:hover{
        background-color: var(--font-color-hover);
    }